*
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(8, 5, 139);
  
 }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  color: aliceblue;
  border-bottom: 2px solid aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(2, 0, 107);
 
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
   
  }
}


.tulisan {
  text-decoration: none;
  color: aliceblue;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer; 
}

.tulisan:hover {
  color: yellow;
}

.Navbar {
  display: flex;
  list-style: none;
  margin-right: 200px;
  animation: appear 1s linear;
}

.gambar-1 {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: 4px solid aliceblue;
  transition: 0.3s ease-in-out;
  animation: appear 1s linear;
}

.gambar-1:hover {
  transform: scale(1.1);
  border: 4px solid yellow;
  cursor: pointer;
}

h1 {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  animation: appear 1s linear;

}

h2 {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  animation: appear 1s linear;
}

h3 {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  animation: appear 1s linear;
}

.Hello {
  color: yellow;
}

.Im {
  width: fit-content;
  color: yellow;
  overflow: hidden;
  border-right: 2px solid #fff;
  white-space: nowrap;
  margin: 0 auto;
  animation: mengetik 2s steps(40, end), blink 0.5s step-end infinite,appear 1s linear;
  
}
.Im {
  display: inline-block;
  text-align: left;
}

@keyframes mengetik {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.tulisan_h1 {
  margin-left: 30px;
}

.hal1 {
  margin-top: 30vh;
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.gambar-2 {
  max-width: 30%;
  height: auto;
  border: 4px solid white;
  border-radius: 30px;
  transition: .3s ease-in-out;

}

.gambar-2:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Silahkan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28vh;
  position: fixed;
  flex-direction: column;
}

.hubungi {
  border-right: 2px solid #fff;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  animation: mengetik 2s steps(40, end), blink 0.5s step-end infinite,appear 1s linear;
}

.aiu {
  margin-top: 20vh;
  height: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 1s linear;
}

@media screen and (max-width: 768px){
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 10px 100px;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(2, 0, 107);
  }

    .header h1{
      font-size: 2.5em;
      margin-right: 10vh;
    }


    .tulisan {
      display: flex;
      font-size: 2em;
      text-decoration: none;
      color: aliceblue;
      padding: 30px;
      font-family: 'Poppins', sans-serif;
      cursor: pointer; 
    }
    
    .tulisan:hover {
      color: yellow;
    }
    
    .Navbar {
      display: flex;
      list-style: none;
      margin-right: 200px;
      animation:
      appear 1s linear;
    }

    .hal1 {
      margin-top: 20vh;
      padding: 20px;
      position: fixed;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
    }

    .gambar-1 {
      width: 50%;
      height: 50%;
      border-radius: 50%;
      border: 4px solid aliceblue;
      transition: 0.3s ease-in-out;
      animation: appear 1s linear;
    }
    
    .gambar-1:hover {
      transform: scale(1.1);
      border: 4px solid yellow;
      cursor: pointer;
    }

    .tulisan_h1 {
      font-size: 3em;
      margin-left: 30px;
    }

    .Hello {
      color: yellow;
    }
    
    .Im {
      width: fit-content;
      color: yellow;
      overflow: hidden;
      border-right: 2px solid #fff;
      white-space: nowrap;
      margin: 0 auto;
      animation: mengetik 2s steps(40, end), blink 0.5s step-end infinite,appear 1s linear;
      
    }
    .Im {
      display: inline-block;
      text-align: left;
    }

    .gambar-2 {
      max-width: 70%;
      height: auto;
      border: 4px solid white;
      border-radius: 30px;
      transition: .3s ease-in-out;
    
    }
    
    .gambar-2:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    
    .Silahkan {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 17vh;
      position: fixed;
      flex-direction: column;
    }
    
    .hubungi {
      border-right: 2px solid #fff;
      width: fit-content;
      white-space: nowrap;
      overflow: hidden;
      margin: 0 auto;
      display: inline-block;
      text-align: left;
      font-size: 3em;
      font-family: 'Poppins', sans-serif;
      animation: mengetik 2s steps(40, end), blink 0.5s step-end infinite,appear 1s linear;
    }
    
    .aiu {
      margin-top: 20vh;
      height: 0;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: appear 1s linear;
    }
   
  }
